.header{ 
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: black;
    align-items: center;
    color: aliceblue;
    
}
 

.logo{
    color: orange;
    font-size: 2rem;
    margin: .8rem 1rem ;
}
.header-logo{
    display: flex;
    
}
.search-icon{
    background-color: orange;
    color: black;
    padding: .5rem .8rem ;
}
.header-nav{
    display: flex;
    align-items: center;
    
}
.header-search{
    display: flex;
}
.header-search input{
    width: 50vw;
}
.header-logo{
    display: flex;
    
}
.header-nav-signin a {
  color: aliceblue;
  margin: 0PX;
  text-decoration: none;
}
.header-nav-signin h5{
  margin: 0px;
  font-weight: 100;
}
.header-nav-your-shop h5{
    margin: 0px;
    font-weight: 100;
}
.header-nav-your-shop a{
    color: aliceblue;
    margin: 0PX;
    text-decoration: none;
}

.header-nav-signin{
     padding: 0 3rem ;
}
.header-nav-your-shop{
    padding: 0 2rem ;
}
.header-nav-cart{
    padding: 0 3rem ;

} 
.a{
    padding: 0 1rem;
}
